<div class="container-fluid">
  <ng-container *ngIf='true'>
    <div class="row pt-5">
      <h1 class="col-12 text-center display-3">Vancouver</h1>
    </div>
    <div class="row pt-5">
      <img src="../assets/1.JPG" class="img-fluid col-4 height-50vg" alt="Responsive image">
      <img src="../assets/2.JPG" class="img-fluid col-4 height-50vg" alt="Responsive image">
      <img src="../assets/3.JPG" class="img-fluid col-4 height-50vg" alt="Responsive image">
    </div>
    <div class="row pt-5">
      <img src="../assets/4.JPG" class="img-fluid col-4 height-50vg" alt="Responsive image">
      <img src="../assets/5.JPG" class="img-fluid col-4 height-50vg" alt="Responsive image">
      <img src="../assets/6.JPG" class="img-fluid col-4 height-50vg" alt="Responsive image">
    </div>

    <div class="row p-5">
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)='animate()'>Animate</button>
      </div>
    </div>

  </ng-container>

  <ng-container *ngIf='false'>

    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-2 animated slideInLeft">Animate</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-4 text-center pt-0 mt-0">
        <h1 class="animated slideInLeft">Install</h1>
      </div>
      <div class="col-8 text-left">
        <pre class="mt-3">
        npm install ngx-mc-animate;
      </pre>
      </div>
    </div>

    <div class="row">
      <div class="col-4 text-center">
        <h1 class="animated slideInLeft">Setup</h1>
      </div>
      <div class="col-8 text-left">
        <pre class="prettyprint linenums">
        // We need to use ElementRef and Renderer2 also to modify the DOM
        constructor(public animatorService: NgxMcAnimatorService,
          public elRef: ElementRef,
          public renderer: Renderer2)
      </pre>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-4 text-center">
        <h1>Usage</h1>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-4 text-center">
        <h3 class="animated slideInLeft">Function Signature</h3>
      </div>
      <div class="col-8 text-left">
        <pre class="linenums">
        animate(effects: string | string[] = 'fadeOutUp',
          selectors: string | string[] = 'animate-seq',
          delays: number | number[] = 1000,
          initial_delay: number = 0
        )

      </pre>

      </div>
    </div>

    <div class="row pt-2">
      <div class="col-1 border animate-seq-0 d-flex justify-content-center ">B</div>
      <div class="col-1 border animate-seq-1 d-flex justify-content-center">0</div>
      <div class="col-1 border animate-seq-2 d-flex justify-content-center">U</div>
      <div class="col-1 border animate-seq-3 d-flex justify-content-center">N</div>
      <div class="col-1 border animate-seq-4 d-flex justify-content-center">C</div>
      <div class="col-1 border animate-seq-5 d-flex justify-content-center">E</div>
      <div class="col-1 border animate-seq-6 d-flex justify-content-center">B</div>
      <div class="col-1 border animate-seq-7 d-flex justify-content-center">O</div>
      <div class="col-1 border animate-seq-8 d-flex justify-content-center">U</div>
      <div class="col-1 border animate-seq-9 d-flex justify-content-center">N</div>
      <div class="col-1 border animate-seq-10 d-flex justify-content-center">C</div>
      <div class="col-1 border animate-seq-11 d-flex justify-content-center">E</div>
      <div class="col-12 d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-primary" (click)='bounce()'>Bounce</button>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-4 text-center">
        <h3 class="animated slideInLeft">Option A: Use class prefixes</h3>
      </div>
      <div class="col-8 text-left">

        <pre>

        // Add class names with a common prefix (e.g. animate-seq) to
        // all the elements you want to animate. Class with prefix animate-seq-1
        // would be animated before animate-seq-2. If class name is same, then the
        // animate order would be random
        this.animatorService.animator(this.elRef, this.renderer)
            .animate('bounce', 'animate-seq')
            .subscribe(() => {{ '{' }}});

        </pre>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-12 text-center">
        <h3> Women to the left </h3>
      </div>
      <div class="col-12 text-center">
        <h2> Becuase Men are always right </h2>
      </div>
      <div class="col-12 text-center">
        <h4 (click)='leftRight()'> Click!! </h4>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-4 text-center">
        <h3 class="animated slideInLeft">Option B: Use CSS Selectors</h3>
      </div>
      <div class="col-8 text-left">

        <pre>

        // Provide css selectors and effect names
        this.animatorService.animator(this.elRef, this.renderer)
            .animate(['fadeOutDown', 'fadeOutUp'], ['.class1', '.class2'])
            .subscribe(() => {{ '{' }}});
      </pre>
      </div>
    </div>

  </ng-container>


</div>
